.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

/** HEADER **/
.header {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 20px 40px;

  background-color: black;
}
.logo {
  position: absolute;
  top: 10px;
  left: 40px;
}


/** MAIN **/
.main {
  flex-grow: 2;
  position: relative;
}
.heading {
  position: relative;
  z-index: 100;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 0px 40px;

  color: white;
}
.heading h1 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: .2rem;

  margin-bottom: 20px;
}
.heading p {
  font-family: 'Avenir Black Oblique', 'Avenir Black', sans-serif;
  font-size: 1.85rem;
  line-height: 1.85rem;
  letter-spacing: .1rem;
}


/** FOOTER **/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: .9rem;
  font-weight: bold;
  letter-spacing: .15rem;

  padding: 45px 40px;

  background-color: black;
  color: var(--colors-alt-white);
}
.email {
  margin-left: 8px;
}
.email:hover {
  text-decoration: underline;
  cursor: pointer;
}


/**** MEDIA QUERIES ****/
@media only screen and (max-width: 550px) {
  /* HEADER */
  .header {
    flex-direction: column;
  }
  .logo {
    position: static;
    margin-bottom: 10px;
  }
  /* MAIN */
  .heading {
    padding: 0px 20px;
    align-items: stretch;
  }
  .heading h1 {
    text-align: center;
    font-size: 2.7rem;
    line-height: 2.7rem;
  
    margin-bottom: 12px;
  }
  .heading p {
    text-align: center;
    font-size: 1.35rem;
    line-height: 1.35rem;
  }

  /* FOOTER */
  .footer {
    flex-direction: column;
  }
  .email {
    margin-left: 0px;
    margin-top: 8px;
  }
}
